<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzu.oa.mapper.KynamicMapper">
  <resultMap id="BaseResultMap" type="com.wzu.oa.common.entity.Kynamic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="is_parent" jdbcType="BIT" property="isParent" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="doc_file_path" jdbcType="LONGVARCHAR" property="docFilePath" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>

  <select id="getRoot" resultMap="BaseResultMap">
    SELECT *
    FROM kynamic
    WHERE pid is NULL
  </select>


  <select id="getKynamicListByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM kynamic
    WHERE pid = #{pid}
    ORDER BY create_time ASC
  </select>


  <select id="getKynamicFolderListByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM kynamic
    WHERE pid = #{pid}
    AND is_parent = 1
    ORDER BY create_time ASC
  </select>

  <select id="getKynamicFileListByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM kynamic
    WHERE pid = #{pid}
    AND is_parent = 0
    ORDER BY create_time ASC
  </select>

  <select id="getKynamicByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT *
    FROM kynamic
    <where>
      <if test="isParent == true">
        and is_parent = 1
      </if>
      <if test="isParent == false">
        and is_parent = 0
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
    </where>
  </select>
</mapper>