<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzu.oa.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.wzu.oa.common.entity.Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
  </resultMap>

  <select id="getResourcesListByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT *
    FROM resource
    WHERE user_id = #{userId}
  </select>
</mapper>